<div class="row">
  <div class="col s12 m12">
    <h1><%= @user.name %></h1>
    <hr>
    <div class="row">
      <div class="col s12 m6">
        <p class="flow-text"><strong>Email: </strong><%= @user.email %></p>
        <p class="flow-text"><strong>Plan: </strong></p>
      </div>
      <div class="col s12 m6">
        <p class="flow-text"><strong>Socio desde: </strong></p>
        <% if current_user?(@user) %>
          <p class="flow-text"><strong>Ultimo acceso: </strong></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12 m12">
    <h1>Empresas</h1>
    <hr>
  </div>
</div>
