<% flash.each do |key, value| %>
  <div class="row">
    <div class="col s12 m5">
      <div class="card-panel teal <%= key %>">
        <span class="white-text"><%= value %></span>
      </div>
    </div>
  </div>
<% end %>