<div class="morph-button morph-button-modal morph-button-modal-2 morph-button-fixed">
	<button type="button">Login</button>
	<div class="morph-content">
		<div>
			<div class="content-style-form content-style-form-1">
				<i class="icon-close mdi-content-clear"></i>
				<h2>Login</h2>
				<%= render "forms/login" %>
			</div>
		</div>
	</div>
</div><!-- morph-button -->