<div class="morph-button morph-button-modal morph-button-modal-3 morph-button-fixed">
	<button type="button">Signup</button>
	<div class="morph-content">
		<div>
			<div class="content-style-form content-style-form-2">
				<i class="icon-close mdi-content-clear"></i>
				<h2>Sign Up</h2>
				<%= render "forms/register" %>
			</div>
		</div>
	</div>
</div><!-- morph-button -->