<div class="collection z-depth-1">
    <a href="#!" class="collection-item">
        <div class="row valign-wrapper">
            <div class="col s12">
              <img class="center-align circle responsive-img" src="http://placehold.it/100x100">
            </div>
            </div>
            <div class="row valign-wrapper">
            <div class="col s12">
              <span class="center-align black-text">
                This is a square image. Add the "circle" class to it to make it appear circular.
              </span>
            </div>
          </div>
    </a>
    <a href="#!" class="collection-item">Alan<span class="new badge">4</span></a>
    <a href="#!" class="collection-item">Alan</a>
    <a href="#!" class="collection-item">Alan<span class="badge">14</span></a>
</div>