<div class="row">
  <div class="col s12 m6">
    <div class="card-panel teal hoverable">
      <h3 class="white-text">
        REMUNERACIONES
      </h3>
    </div>
  </div>

  <div class="col s12 m6">
    <div class="card-panel lime hoverable ">
      <h3 class="white-text">
        CONTABILIDAD
    </h3>
    </div>
  </div>
</div>
