// Place all the styles related to the companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input.file-path{
    cursor: pointer;
}
.file-field input.file-path{
    margin: 0;
}
.file-path-wrapper{
    margin-left: 105px;
    padding-left:10px;
}