// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media screen and (max-width: 850px) {
  .joiner {
    display: block;
  }
  .parallax-container {
    min-height: 450px;
  }
}

@media screen and (max-width: 770px) {
  .mockup-left {
    float: none;
    margin: 0 auto 20px;
  }

  .mockup-right {
    text-align: center;
  }


}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}


.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}

#company-logo{
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

#add-company{
    display: inherit;
    margin: 0 auto;
}

.debug_dump{
  width: 50%;
  margin: 0 auto;
  border: solid 1px #ccc;
  background-color: #eee;
  padding: 1em;
  margin-bottom: 1em;
}
.alert.error, .alert.danger{
  position:fixed;
  z-index: 9999;
  width: 100%;
}
i.close{
  float: right;
  cursor: pointer;
  color: #ffab40;
  margin-top: -10px;
  &:hover {
    color: #ffd8a6;
  }
}